@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/core/src/common/react-transition";

.overlay-transition {
    $overlay-width: $pt-grid-size * 80;
    $enter: (
            transform: (translateY(-50vh) rotate(-10deg), translateY(0) rotate(0deg))
    );
    $leave: (
            transform: (translateY(150vh) rotate(-20deg), translateY(0) rotate(0deg))
    );

    @include react-transition-phase(
                    "#{$ns}-overlay",
                    "enter",
                    $enter,
                    $pt-transition-duration * 3,
                    $pt-transition-ease-bounce,
            $before: "&"
    );
    @include react-transition-phase(
                    "#{$ns}-overlay",
                    "exit",
                    $leave,
                    $pt-transition-duration * 5,
            $before: "&"
    );

    top: 0;
    left: calc(50vw - #{$overlay-width / 2});
    margin: 10vh 0;
    width: 97%;
    max-width: $overlay-width;
}

.overlay-tall {
    height: 200%;
}

.overlay-close {
    display: inline;
    float: right;
    font-size: 12px;
}

.overlay-close-button {
    padding: 0 0 2px 3px;
    color: $red3;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 2px;
}

.overlay-close-button:hover {
    color: $red5;
    text-decoration: underline;
}


@media screen and (max-width: 600px), screen and (max-width: 600px) and (orientation: landscape) {
    .overlay-transition {
        left: 2%;
        position: center;
        width: 96%;
    }
}
