.app {
    margin: 50px 5px 10px 5px;
    background-color: #293742;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.card-list-row {
    font-size: 12px;
    white-space: nowrap;
    margin: 1px 10px 0px 0px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #394B5A;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card-list-row-empty {
    font-size: 12px;
    margin: 1px 10px 0px 0px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #30404E;
    color: #30404E;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card-column {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.card-data-error {
    margin: 0px 0px 0px 0px;
    color: red;
}

.card-div {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 50%;
    height: 100%;
    float: left;
    vertical-align: top;
}

.card-object {
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .card-div {
        width: 100%; /* The width is 100%, when the viewport is 1000px or smaller */
    }
}