@import "~@blueprintjs/core/src/common/react-transition";
@import "~@blueprintjs/core/lib/scss/variables";

.app {
    margin: 50px 5px 10px 5px;
    background-color: #293742;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-list-row {
    font-size: 12px;
    white-space: nowrap;
    margin: 1px 10px 0px 0px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #394B5A;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card-list-row-empty {
    font-size: 12px;
    margin: 1px 10px 0px 0px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #30404E;
    color: #30404E;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card-column {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.card-data-error {
    color: red;
}

.card-div {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    vertical-align: top;
}

.card-div-2 {
    margin: 5px 5px 0px 5px;
}

.card-object {
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.popover-object {
    width: 100%;
    max-width: 500px;
}

.popover-content {
    max-height: $pt-grid-size * 50;
    overflow-y: auto;
    overflow-x: hidden;

    width: 100%;
    padding: 0px 15px 15px 15px;
    font-size: 12px;
}

.popover-text {
    width: 100%;
    object-fit: contain;
    display: inline-block;
}

.popover-text-header {
    font-size: 12px;
    padding: 15px 15px 10px 15px;
}

.popover-text-header-font {
    color: $lime5 !important;
}

.popover-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width: 1000px) {
    .card-div {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .card-div {
        width: 100%;
    }
}